<script type="text/javascript">
  (function() {
    var delayTime = 1000; 

    var startTracking = function() {
      var gaScript = document.createElement('script');
      gaScript.async = true;
      gaScript.src = "https://www.googletagmanager.com/gtag/js?id=G-CQ693JWDTJ";
      document.head.appendChild(gaScript);

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CQ693JWDTJ');

      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "vu4wh899k3");

      console.log("Analytics components initialized.");
    };

    if (document.readyState === 'complete') {
      setTimeout(startTracking, delayTime);
    } else {
      window.addEventListener('load', function() {
        setTimeout(startTracking, delayTime);
      });
    }
  })();
</script>
